/* Initialize my font */
@font-face {
    font-family: "consolas";
    src: url("consolas/Consola.ttf");
}

/* The body had some padding by defualt for some
reason, but this takes care of that */
body {
    margin: 0px;
    padding: 0px;
    background-color:#040423d8;
    font-family: 'consolas', "sans-serif";
    color: #D8B06A;
    overflow: auto;
}

/* Draggable region of the toolbar */
.draggable{
    -webkit-app-region: drag;
    background-color: rgb(96, 23, 95);
    overflow: hidden;
    padding: 10.5px 0px;
}

/* Without this some of the back background shows
when the navigaion buttons grow */
.purpleArea{
    background-color: rgb(96, 23, 95);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    user-select: none;
}

/* Draggable "pink" region of the toolbar */
.draggablePink{
    -webkit-app-region: drag;
    background-color: #993553;
    overflow: hidden;
    padding: 5px 0px;
}


/* Close button */
#close {
    width: 13px;
    float: right;
    padding: 4px 4px;
    cursor: pointer;
    background-color: rgb(96, 23, 95);
    transition: 0.15s;
}

/* Close button on hover */
#close:hover {
    background-color: rgb(201, 50, 50);
    transition: 0.3s;
    /* padding: 6px 6px; */
    /* width: 16px; */

}

/* Minimize button */
#min {
    width: 13px;
    float: right;
    padding: 10px 4px;
    cursor: pointer;
    background-color: rgb(96, 23, 95);
    transition: 0.15s;
}


#min:hover {
    background-color: #2d75c7;
    fill: white;
    transition: 0.3s;
    /* padding: 12px 6px; */
}


/* All navigation buttons */
.navbtn {
font-family: 'consolas', "sans-serif";
padding: 0px 0px;
}

/* Navigation button styling */
.navbtn a {
    background-color: rgb(96, 23, 95);
    float: left;
    color: #D8B06A;
    text-align: center;
    padding: 3.5px 4px;
    text-decoration: none;
    font-size: 12px;
    opacity: 1;
    transition: 0.15s;
}

/* Navigation button on hover */
.navbtn a:hover {
    font-size: 14px;
    padding: 7.5px 7px;
    background-color: #ddd;
    color: black;
    opacity: 0.5;
    transition: 0.3s;
    
}

/* Makes it so that the pink on the
active button grows with the bar */
.navbtn:hover a.activeBtn, #min:hover a.activeBtn {
    padding: 8px 7px;
    background-color: #993553;
    vertical-align: text-top;
    
    
}

/* Current navigation tab */
.navbtn a.activeBtn {
    background-color: #993553;
    color: #D6D1B1
}

.inputList {
    padding: 0px 0px 0px 10px;
    font-size: 15px;
    list-style-type: none;
}

#controllerBtns {
    list-style-type: none;
    margin: 0;
    padding:45px 45px 10px 10px;
    overflow: hidden;
} 


#controllerBtns li {
    left: 50%;
    margin:0 5px 5px 0;
    font-size: 13px;
    width: 10px;
    height: 10px;
    display:inline-block;
    text-align: center;
    padding: 25px 25px;
    background-color: rgb(96, 23, 95);
}
